@page "/login"

<h1>Login</h1>

<div class="card">

    <p>Demo Accounts</p>

    <ul>
        <li>admin@worksync.com / Admin123!</li>
        <li>leader@worksync.com / Leader123!</li>
        <li>viewer@worksync.com / Viewer123!</li>
    </ul>

    <p>
        This classroom version uses sample authentication only.
    </p>

</div>
